* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  color: white;
}

body {
  height: 100vh;
}

header {
  height: 10vh;
  background-color: gray;
  display: flex;
  justify-content: space-between;
  font-size: 0.5rem;
}

header nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

li a {
  margin: 0 0.2rem;
  color: white;
  padding: 0.5rem 1rem;
}
li a:hover {
  background-color: whitesmoke;
  color: black;
}

a {
  text-decoration: none;
  color: black;
  border: 1px solid green;
  display: flex;
}

svg {
  width: 1.5em;
  fill: currentColor;
  height: 1.5em;
}

main {
  height: 90vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: gainsboro;
  font-size: 5vw;
}

main svg {
  fill: hotpink;
  width: 5em;
  height: 5em;
}
