* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

div {
  position: relative;
}

input {
  margin-top: 2rem;
  display: none;
}

label {
  margin: 1rem 0.5rem;
  border: 3px solid blue;
  border-radius: 10px;
  padding: 1rem;
  background-color: lime;
  color: blue;
  /* z-index: 10; */
  display: inline-block;
}

ol {
  background-color: aquamarine;
  position: absolute;
  top: 0;
  left: -15rem;
  padding: 5rem 2rem;
  width: 200px;
  height: 100vh;
  z-index: -10;
  transition-property: all;
  transition-timing-function: ease;
  transition-duration: 1s;
}

input:checked ~ ol {
  left: 0;
}
