body {
  border: 5px solid red;
  box-sizing: border-box;
  margin: 10px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

div {
  /* flex-grow: 1; */
  margin: 15px;
  width: 200px;
  height: 100px;
  text-align: center;
  border: 1px solid red;
  background-color: rgb(216, 216, 216);
}
