* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 3vw;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.atf {
  width: 80%;
  border-radius: 20px;
  border: 1px solid black;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem;
}

.content-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: rgb(134, 150, 156);
  border-bottom: 1px solid rgb(134, 150, 156);
  /* margin-bottom: 2rem; */
  padding: 1rem;
  width: 100%;
}

svg {
  width: 4em;
  height: 4em;
  fill: currentColor;
  padding-right: 1rem;
}
