* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Header section */

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  /* min-height: 8rem; */
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f5f5f5;
  font-family: sans-serif;
  /* padding-top: 0.5rem; */
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

div.site-name {
  min-width: 400px;
  text-transform: uppercase;
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: 2px;
  border: 1px solid red;
  padding: 0 1rem;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-name:hover {
  color: #0266c8;
  cursor: pointer;
}

nav {
  min-width: 500px;
  border: 1px solid red;
  display: flex;
  align-items: center;
  flex-grow: 2;
  font-size: 0.8rem;
  height: 8vh;
  flex-basis: 0;
}

nav a {
  flex-grow: 1;
  /* display: block; */
  text-decoration: none;
  width: 100%;
  padding: 1.5rem 0;
  height: 100%;
  text-align: center;
  line-height: 1vh;
}

nav a:hover {
  background-color: #ffffe0;
}

/* Surf image */

.surf {
  /* margin-top: 8vh; */
  background-image: url("img/adventure.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 30rem;
}

/* main section */

section article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  padding: 3rem;
}

section article h1 {
  font-family: "Roboto Slab", serif;
  font-family: 100;
  font-size: 2rem;
  letter-spacing: 4px;
  padding-bottom: 0.5rem;
}

section article button {
  background-color: #333;
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: 1.3rem;
  font-weight: 300;
  padding: 0.7rem 3.5rem;
  border-radius: 0.5rem;
}

section article button:hover {
  cursor: pointer;
  background-color: #0ebfe9;
}

/* main image section */

.imgs {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.imgs img {
  padding: 0.2rem;
}

.bottom-sec {
  width: 100%;
  border: 1px solid green;
  display: flex;
  flex-flow: row wrap;
}

.bottom-art {
  width: 50%;
  border: 1px solid red;
  text-align: left;
}

.bottom-art h2 {
  width: 100%;
  border: 1px solid red;
}

/* .bottom-art p,
.bottom-art a {
  display: inline;
} */
