* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  text-transform: uppercase;
  padding: 1rem 0;
  text-align: center;
  /* debuging */
  /* border: 1px solid red; */
}

header h1 {
  font-weight: 300;
  font-size: 2.2rem;
  color: #484848;
  padding: 1rem;
}

.header-div {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
}

header div.header-div ul {
  list-style: none;
  display: flex;
  /* debuging */
  /* border: 1px solid red; */
}

header div.header-div ul li a {
  text-decoration: none;
  color: #484848;
  text-transform: uppercase;
  font-size: 0.8rem;
  background-color: #f6f6f6;
  margin: 1rem;
  padding: 0.5rem;
}

.empty-div {
  background-color: #999;
  /* border: 1px solid aliceblue; */
  width: 25vw;
  height: 1px;
  margin: 0 0.5rem;
}

.image-sec {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 38rem;
  background-image: url("images/fam_blur.jpg");
  background-position: 0 -150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

.about-us {
  background-image: url("images/us_left_web_30.jpg");
  background-size: cover;
  height: 38rem;
  background-position: center;
  width: 100%;
}

article {
  width: 30rem;
  /* debugging */
  /* border: 1px solid red; */
}

.image-sec article h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.image-sec article p {
  font-size: 1.3rem;
  font-family: sans-serif;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.test-your-home {
  background-color: red;
  color: white;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0.6rem;
  display: block;
  margin: 1rem auto;
}

main {
  width: 75%;
  margin: 0 auto;
  font-family: sans-serif;
  /* debugging */
  /* border: 1px solid red; */
}

main article {
  width: 100%;
  /* border: 1px solid red; */
}

.art-h1 {
  text-decoration: underline;
  font-size: 1.6rem;
  font-weight: 300;
  color: #484848;
  margin: 0.5rem 0;
}

.art-h2 {
  font-weight: 300;
  font-size: 1.6rem;
  color: #484848;
  margin-bottom: 0.4rem;
}

.art-p {
  color: #8e8e8e;
  line-height: 1.3;
  font-size: 0.95rem;
  margin-bottom: 1rem;
}

.radon-house-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ol-container ol {
  margin-left: 1.3rem;
  color: #8e8e8e;
}

ol li {
  margin-top: 0.5rem;
  font-size: 0.96rem;
}

.epa-gov-div {
  display: flex;
  justify-content: flex-end;
}

.epa-gov {
  color: #8e8e8e;
  text-decoration: none;
  text-align: right;
  font-size: 0.8rem;
}

.epa-gov:hover {
  color: blue;
  text-decoration: underline;
}

table {
  border: 1px solid #999;
  border-collapse: collapse;
  color: rgb(72, 72, 72);
  font-size: 0.9rem;
  text-align: left;
}

td,
th {
  border: 1px solid #999;
  padding: 0.5rem;
}

tr:first-child {
  background-color: #c0c0c0;
}

tr:nth-child(even) {
  background-color: #d0d0d0;
}

.call-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: red;
}

.call-us h2 {
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 0.4rem;
}

.call-us a {
  text-decoration: none;
  color: red;
  font-size: 2.5rem;
  margin-top: 1rem;
}

.call-us a:hover {
  color: blue;
}

hr {
  /* border: 0.5px solid black; */
  background-color: #d0d0d0;
  height: 1px;
  width: 80%;
  margin: 2rem auto;
}

footer {
  text-align: center;
}

footer a {
  display: inline-block;
  margin: 0.3rem 0;
}
