body {
  display: flex;
  flex-direction: column;
}
header,
main {
  width: 100%;
}

header {
  max-width: none;
  border-right: 2px solid red;
  border-bottom: 0;
}

ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: none;
}
