* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 70%;
  border: 1px solid black;
  margin: 0 auto;
}

ul {
  /* list-style: none; */
  padding: 15px 40px;
}

h1,
p {
  margin: 15px 0;
}

nav,
main {
  border: 1px solid red;
  display: inline-block;
  vertical-align: top;
}

.fortyper {
  width: 40%;
}

.sixtyper {
  width: 60%;
}
