body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  width: 400px;
  height: 400px;
  background-color: white;
  border: 2px solid purple;
  animation-name: moving-div;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  position: relative;
  left: 0;
  top: 0;
}

@keyframes moving-div {
  0% {
    background-color: white;
    left: 0;
  }
  100% {
    background-color: aqua;
    left: 90%;
    border-radius: 100%;
  }
}
