* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
.login {
  height: 100vh;
  /* debugging */
  /* border: 1px solid red; */
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  font-family: sans-serif;
  font-weight: 700;
  /* debugging */
  border: 1px solid green;
}

form#sign-in {
  /* padding: 1rem; */
  /* debugging */
  border: 1px solid #c6c7cc;
  border-radius: 0.5rem;
}

form div {
  padding: 1rem 1.2rem;
}

input[type="text"],
input[type="password"] {
  border: 1px solid #c6c7cc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14);
  border-radius: 0.3rem;
  padding: 0.4rem;
  margin-top: 0.5rem;
}

.login-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #395870;
}

.login-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f2;
  border-top: 1px solid #c6c7cc;
  border-radius: 0 0 0.5rem 0.5rem;
}

.login-button div {
  display: flex;
  align-items: center;
}

.login-button div label {
  font-size: 0.8rem;
  font-weight: 300;
  padding-left: 0.2rem;
  color: #7c7c80;
}

.login-button > input {
  background-image: linear-gradient(#49708f, #293f50);
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0 1rem;
  border-radius: 0.3rem;
  border: 1px solid black;
  height: 2rem;
  cursor: pointer;
}
