body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  background-color: deepskyblue;
  width: 1000px;
  height: 1000px;
  animation-name: rotate-circle;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}
/* div:hover {
} */

@keyframes rotate-circle {
  0% {
    background-color: deepskyblue;
    width: 1000px;
    height: 1000px;
  }
  100% {
    transform: rotate(135deg);
    border-radius: 100%;
    background-color: yellow;
  }
}
